.card-container {
    margin: auto;
    width: 65%;
}

@media (max-width: 1200px) {
    .card-container {
        margin: auto;
        width: 80%;
    }
}

@media (max-width: 800px) {
    .card-container {
        margin: auto;
        width: 95%;
    }
}