.intro-container{
  margin: auto;
  background-color: #2C3334;
  width: 100%;
  text-align: center;
  position: absolute;
  width:100%;
  height:100%;
  top: 95px;
  bottom: 0px;
  left:0px;
  z-index:1000;
}
